body{
    font-size: 12px;
}

input.form-control {
    padding: 0;
    font-size: 12px;
    height: 25px;
    width: 100%;
    border-left: 1px black solid;
    border-top: 1px black solid;
}

button.btn {
    width: 125%;
    height: 30px;
    font-size: 13px;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.table-responsive.fixed-height {
    height: 200px;
    overflow-y: auto;
    position: relative;
    border-radius: 8px;
    border: 2px solid black;
    width: 100%;
    table-layout: fixed;
}

.table-responsive.fixed-height thead th {
    position: sticky;
    top: 0;
    background: lightgoldenrodyellow;
    z-index: 1;
    white-space: nowrap;
}

.table-responsive.fixed-height tbody {
    overflow-y: auto;
    width: 100%;
    background-color: white;
}

.table-responsive.fixed-height thead,
.table-responsive.fixed-height tbody tr {
    width: 100%;
}

.table-responsive.fixed-height tbody td {
    white-space: nowrap;
}

.card{
    background-color: lightgray;
}