.col-md-1,
.col-md-9 {
    padding-left: 0;
}

.table-responsive.fixed-height tbody {
    background-color: white;
}

.table-responsive.fixed-height {
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

.no-wrap-header thead th {
    white-space: nowrap;
    background-color: lightgoldenrodyellow;
    padding: 0;
}

.table-responsive.fixed-height tbody td {
    background-color: white;
    padding: 4px 5px;
}

.fixed-width {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

table.dataTable {
    table-layout: fixed;
    width: 100%;
}

#table_list th,
#table_list td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.col-md-05 {
    flex: 0 0 auto;
    width: 4.16666667%;
    /* 0.5 dari 12 kolom */
    max-width: 4.16666667%;
}

.bordered {
    border: 1px solid black;
    padding: 0;
}

.preview {
    margin: 0;
    padding: 0 5px;
    /* display: none; */
}

@media print {
     .preview {
        display: block !important; /* override display:none */
        visibility: visible !important;
    }
    /* Hide everything by default */
    body,
    .container,
    #printArea,
    #charts-container {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    /* Show only elements with the class 'print-chart' */
    .print-chart,
    .print-chart * {
        visibility: visible !important;
    }

    /* Posisi dan ukuran untuk elemen print */
    .print-chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* jika mau skalakan, bisa tambahkan transform */
        /* transform: scale(0.9); */
        /* transform-origin: top left; */
    }

    /* Khusus untuk tabel preview di print */
    #previewTable {
        page-break-inside: auto;
    }
    #previewTable tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

}

#printArea {
  display: none;  /* disembunyikan di layar biasa */
}

.d-none {
  display: none !important;
}


#previewTable td {
    max-height: none;
}


#previewTable,
#previewTable th,
#previewTable td {
    border: 1px solid black !important;
}

#previewTable {
    border-collapse: collapse;
    width: 100%;
}

#previewTable th,
#previewTable td {
    padding: 5px 10px;
    color: black !important;
    white-space: nowrap;
}

#previewTable td:nth-child(6),
#previewTable th:nth-child(6),
#previewTable td:nth-child(13),
#previewTable th:nth-child(13) {
    max-width: 250px;
    white-space: normal;
}
