#btn_proses,
#btn_batal {
    width: 70%;
    margin: 10% 0;
}

#divbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#divbutton .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

input {
    margin-top: 3px;
    margin-bottom: 3px;
}

input[type="text"],
input[type="date"] {
    height: 30px;
    font-size: 14px;
}

.input-group-append .btn {
    padding: 10% 60%;
    font-size: 14px;
    margin-top: 3px;
}

.baris-1,
#divisian {
    outline: 1px solid #bbb;
    margin-bottom: 10px;
    align-items: center;
}

.table-responsive.fixed-height tbody {
    background-color: white;
}

.table-responsive.fixed-height {
    /* overflow-y: auto; */
    /* position: relative; */
    border-radius: 8px;
    border: 2px solid black;
    /* width: 100%; */
    /* table-layout: fixed; */
    background-color: white;
}

.no-wrap-header thead th {
    white-space: nowrap;
    background-color: lightgoldenrodyellow;
    padding: 0;
}

.table-responsive.fixed-height tbody td {
    background-color: white;
    padding: 4px 5px;
}

.fixed-width {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Show "..." when the text overflows */
    padding: 0;
}

table.dataTable {
    table-layout: fixed;
    width: 150%;
}


.col-sm-1 {
    padding: 0;
}

.baris-2 {
    display: flex;
}

#divSaldoAkhir {
    color: blue;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px;
}

#divPenghangusan {
    color: red;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px;
}
#table_list th,
#table_list td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}
