input[type="text"] {
    height: 30px;
    font-size: 14px;
}

button.btn-info {
    font-size: 14px;
    padding: 0 10px;
}

#jenisBarang,
#jenisJual {
    outline: solid 1px #ddd;
    text-align: center;
    max-width: 55%;
    padding: 0.5%;
}

.form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-check {
    display: flex;
    align-items: center;
    /* Menyelaraskan radio button dan label */
}

#jenisBarang .form-check-inline {
    margin-right: 3%;
}

#jenisJual .form-check-inline {
    margin-right: 10%;
}

.detilCOA {
    outline: solid 1px #ddd;
    padding: 1%;
    margin-bottom: 1%;
}

.selected {
    background-color: lightgray;
}

.table-responsive.fixed-height {
    height: 200px;
    overflow-y: auto;
    position: relative;
    border-radius: 8px;
    border: 2px solid gray;
    width: 100%;
    table-layout: fixed;
}

.table-responsive.fixed-height thead th {
    position: sticky;
    top: 0;
    background: lightgoldenrodyellow;
    z-index: 1;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btn_proses{
    width: 100%;
}
