/* .baris-1 {
    margin-right: 30px;
    padding: 1px;
} */

.col-md-1, .col-md-9{
    padding-left: 0;
}

.baris-1 .col-md-2,
.col-md-3 {
    padding: 2px 2px;
}

.baris-2 .col-md-9 {
    padding: 2px 0;
}

.baris-3 .row{
    padding: 2px 0;
}

.baris-1,
.baris-2,
.baris-3,
.baris-4 {
    outline: 1px solid #bbb;
    margin-bottom: 10px;
}

.bordered{
    border: 1px black solid;
}

#btn_isi,
#btn_proses,
#btn_batal,
#btn_koreksi,
#btn_hapus {
    width: 8%;
}

input[type="text"] {
    height: 30px;
    font-size: 14px;
}

.input-group-append .btn {
    padding: 15% 60%;
    font-size: 14px;
}

.table-responsive.fixed-height tbody {
    background-color: white;
}

.table-responsive.fixed-height {
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

.no-wrap-header thead th {
    white-space: nowrap;
    background-color: lightgoldenrodyellow;
    padding: 0;
}

.table-responsive.fixed-height tbody td {
    background-color: white;
    padding: 4px 5px;
}

.fixed-width {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

table.dataTable {
    table-layout: fixed;
    width: 100%;
}

#table_list th,
#table_list td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}
