body {
    font-size: 12px;
}

.card {
    padding: 0;
}
.card-body {
    padding: 3px;
}

input.form-control {
    padding: 0;
    font-size: 12px;
    height: 20px;
    border-left: 1px black solid;
    border-top: 1px black solid;
}

button.btn {
    padding: 0;
    font-size: 12px;
    height: 20px;
    width: 30px;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

button.btn-custom-width {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
}

.table-responsive.fixed-height {
    height: 200px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scroll */
    position: relative;
    border-radius: 8px;
    border: 2px black solid;
}

.table thead th {
    position: sticky;
    top: 0;
    background: lightgray; 
    z-index: 1000; 
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; 
}

.table {
    width: 100%; 
    border-collapse: collapse;
}

.table tbody {
    display: block;
    overflow-y: auto;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.row {
    margin-top: -5px;
}
