.bordered {
    border: 1px solid black;
}

.preview {
    display: none;
}

#dataChart {
    max-width: 100%; /* Set max-width for the chart */
    max-height: 250px; /* Set max-height for the chart */
}

img{
    padding: 2px;
}

.circle-border {
    display: inline-block;
    padding: 10px 20px; /* Adjust the size as needed */
    border: 2px solid #000; /* Border color and thickness */
    border-radius: 50%; /* Makes the border circular */
    text-align: center; /* Center the text inside the circle */
    line-height: 1.5; /* Adjust line height if necessary */
}
@media print {
    /* Hide everything by default */
    body * {
        visibility: hidden;
    }

    /* Show only elements with the class 'preview' */
    .preview, .preview * {
        visibility: visible;
    }

    /* Ensure that the element with the class 'preview' is visible and properly formatted */
    .preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        transform: scale(0.9);
        transform-origin: top left;
    }
}

input[type="text"] {
    height: 30px;
    font-size: 14px;
}

button.btn-info {
    font-size: 14px;
    padding: 0 10px;
}
